{% extends "layout.html" %}

{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script>
window.onload = function() {
    $('#infoModal').modal('show');
}

  const modalEl = document.getElementById('infoModal');
  const modalInstance = bootstrap.Modal.getInstance(modalEl) || new bootstrap.Modal(modalEl);
  modalInstance.hide();

</script>
{% endblock %}

{% block body %}


{% if token %}
    <div class="modal fade" id="infoModal"  tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" >
            <div class="modal-content" style="border-radius:10px">
                <div class="modal-header">
                    <h5 class="modal-title text-primary" id="infoModalLabel" >API TOKEN</h5>
                    <!-- <button type="button" class="btn btn-danger btn-sm" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button> -->
                </div>
                <div class="modal-body">
                    <!-- Add your information content here -->
                    <p class="text-center " ><b>{{ notice }}</b></p>
                    <p class="text-center lead" >{{ token }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endif %}
    

<div class="container">
<div class="info-block" style="margin-top: 5vh;">
    <div class="flexBar">
        <div>
            <h4>Dashboard</h4>
            <h6 class="text-muted">{{data.name}}</h6>
        </div>

        <a href="#">
            <button class="pill-button">Share Subscription Link</button>
        </a>

    </div>
<br>
<div class="row">

    <div class="col-md-6">
    <div class="row">

        <div class="col-md-6 col-6">
            <a href="{{url_for('connect.purchase')}}">
                <div data-aos="fade-up" class="card">
                    <h6>Credits</h6>
                    <h2 style="font-weight: 700;">{{data.balance}}</h2>
                    <!-- <h6 class="text-muted">{{data.smsbalance}} SMS Left</h6> -->
                </div>
            </a>
        </div> 

        <div class="col-md-6 col-6">
            <a href="{{url_for('connect.sender_id')}}">    
                <div data-aos="fade-up" data-aos-delay="100" class="card">
                    <h6>Sender Id</h6>
                    <h2 style="font-weight: 700;">{{data.senderIds}}</h2>
                    <!-- <h6><u>View/ all</u></h6> -->
                </div>
            </a>
        </div>
        
        <div class="col-md-6 col-6">
            <a href="{{url_for('connect.contacts')}}">
                <div data-aos="fade-up" data-aos-delay="100" class="card">
                    <h6>Contacts </h6>
                    <h2 style="font-weight: 700;">{{data.contacts}}</h2>
                    <!-- <h6><u>Updated Today</u></h6> -->
                </div>
            </a>    
        </div>
        
        <div class="col-md-6 col-6">
            <a href="{{url_for('connect.groups')}}">
                <div data-aos="fade-up" data-aos-delay="100" class="card">
                    <h6>Groups</h6>
                    <h2 style="font-weight: 700;">{{data.groups}}</h2>
                    <!-- <h6 ><u>{{data.roomsOccupied}} Fully Occupied</u></h6> -->
                </div>
            </a>
        </div>   
        
        <div class="col-md-6 col-6">
            <a href="{{url_for('connect.reports')}}">    
                <div data-aos="fade-up" data-aos-delay="100" class="card">
                    <h6>Reports</h6>
                    <h2 style="font-weight: 700;">{{data.reports}}</h2>
                </div>
            </a>
        </div>
        
        <div class="col-md-6 col-6" >
            <a href="{{url_for('connect.email_templates')}}">    
                <div data-aos="fade-up" data-aos-delay="100" class="card">
                    <h6>Email Templates</h6>
                    <h2 style="font-weight: 700;">0</h2>
                </div>
            </a>
        </div>
        <div class="col-md-6 col-6" >
            <a href="{{url_for('connect.email_templates')}}">    
                <div data-aos="fade-up" data-aos-delay="100" class="card">
                    <h6>Email Templates</h6>
                    <h2 style="font-weight: 700;">0</h2>
                </div>
            </a>
        </div>
        <div class="col-md-6 col-6" >
            <a href="{{url_for('connect.email_templates')}}">    
                <div data-aos="fade-up" data-aos-delay="100" class="card">
                    <h6>Email Templates</h6>
                    <h2 style="font-weight: 700;">0</h2>
                </div>
            </a>
        </div>

        

        <!-- <div class="col-md-6 col-6">
            <a href="#">    
                <div data-aos="fade-up" data-aos-delay="100" class="card disabled">
                    <h6>Email Credits</h6>
                    <h2 style="font-weight: 700;">{{data.reports}}</h2>
                </div>
            </a>
        </div> -->
    </div>


    </div>

    <div class="col-md-6">
                <div class="defaultCard">
                    <form action="" method="post">
                        {{form.hidden_tag()}}
                        <h6>Send a quick message to your group</h6>

                        <div class="inputTextHolder">
                            <h6>{{form.recipients.label}}</h6>
                            {{form.recipients (class="inputTextCard", placeholder="Enter phone number(s).")}}
                            {% for error in form.recipients.errors %}
                            <h6 style="color: red; font-weight: 100;">{{error}}</h6>
                            {% endfor %}
                            <h6 style="font-weight: 100; margin-top: 10px;" class="text-muted">Seperate multiple numbers with a comma(,)</h6>
                        </div>

                        <div class="inputTextHolder">
                            <h6>{{form.senderId.label}}</h6>
                            {{form.senderId (class="inputTextCard", placeholder="Enter your message.")}}
                            {% for error in form.senderId.errors %}
                            <h6 style="color: red; font-weight: 100;">{{error}}</h6>
                            {% endfor %}
                        </div>
                        
                        <div class="inputTextHolder">
                            <h6>{{form.message.label}}</h6>
                            {{form.message (class="inputTextCard", placeholder="Enter your message.")}}
                            {% for error in form.message.errors %}
                            <h6 style="color: red; font-weight: 100;">{{error}}</h6>
                            {% endfor %}
                        </div>
    
                    </br>
                        {{form.submit (class="pill-button", style="width:100%", onclick="showLoadingScreen()")}}
                    </form>
                </div>
            <!-- </div> -->
        <!-- </div> -->
    </div>

    </div>

</div>

<div>
    <h4>Quick Actions</h4>
    <br>
    <div class="row">
        <div class="col-md-3">
            <div data-aos="fade-up"  data-aos-delay="400"  class="card">
                <h6>Buy SMS Credits</h6>
                <!-- <h1 style="font-weight: 700;">Withdraw</h1> -->
                <h6>
                    <a href="{{url_for('connect.groups')}}">
                        <button class="pill-button">Create Message</button>
                    </a>
                </h6>
            </div>
        </div>
    
        <div class="col-md-3">
            <div data-aos="fade-up"  data-aos-delay="500"  class="card">
                <h6>Report A Problem</h6>
                <!-- <h1 style   ="font-weight: 700;">2</h1> -->
                <h6>
                    <a href="{{url_for('connect.home')}}">
                        <button class="pill-button" onclick="showModal()">Leave Feedback</button>
                    </a>
                </h6>
            </div>
        </div>

        <div class="col-md-3">
            <div data-aos="fade-up"  data-aos-delay="500"  class="card">
                <h6>Request A Report</h6>
                <!-- <h1 style   ="font-weight: 700;">2</h1> -->
                <h6>
                    <a href="{{url_for('connect.home')}}">
                        <button class="pill-button" onclick="showModal()">Requset Report</button>
                    </a>
                </h6>
            </div>
        </div>

        <div class="col-md-3">
            <div data-aos="fade-up"  data-aos-delay="500"  class="card">
                <h6>Logout</h6>
                <!-- <h1 style   ="font-weight: 700;">2</h1> -->
                <h6>
                    <a href="{{url_for('auth.logout')}}">
                        <button class="pill-button" style="background-color: red;">Logout</button>
                    </a>
                </h6>
            </div>
        </div>
    
    </div>
    
</div>

{% endblock %}
